body{
    text-align: center;
    color: rgb(157, 157, 167);
    background-color: rgb(42, 41, 45);
}
.carousel-item{
    background-color: rgb(73, 75, 88);
    color: rgb(191, 201, 211);
    font-size: xx-large;
    height: 800px;
    width: 100%;
    text-align: center;
}
.col{
    margin: 10px;
    width: 15%;
    height: 400px;
    background-color: rgb(73, 75, 88);
    
}
.imgResize{
    width: 100%;
    margin-top: 12%;
}

.cardOne{
    margin-top: 2%;
}

.navbar{
    position: fixed;
    width: 100%;
    z-index: 1;
}

.float-right{
    position: absolute;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.countdown{
    font-size: 48px;
    font-family: Arial;
}

.countdown-small{
    font-size: large;
}

.countdowns{
    background-color: rgb(50, 47, 58);
}

.cal-col{
    height: 189px;
    margin: 0%;
    border-style: solid;
    border-color: rgb(50, 50, 50);
    border-width: thin;
    font-size: medium;
}

.weekday{
    height: 50px
}

.review{
    background-color: rgb(54, 52, 75);
    margin: 5px;
    padding: 20px;
    height: 250px;
}

.review-title{
    font-size: 50px;
}

.countdown-col{
    height: auto;
}